@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{  
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)), url(https://cdn.pixabay.com/photo/2020/04/21/03/45/covid-19-5070658_640.jpg);

}
input{
  width: 400px;
  height: 50px;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background: none;
  border: none;
  border-bottom: 2px solid #6e110a;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  text-align: center;
}
.main1{
    width: 100%;
    padding-top: 30px;
    margin-top: 200px;
}

.btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


.btn {
  background: #6e110a;
  border: none;
  z-index: 1;
}
.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #146799;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-hover {
  color: #fff;
}
.btn:hover:after {
  left: 0;
  width: 100%;
}
.btn:active {
  top: 2px;
}


#main div{
    /* margin-top: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    
}
#m1 div{
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: white;
}
#m1 div .p2{
  font-size: 30px;
  font-weight: bold;
}
.img1{
    height: 50px;
    width: 50px;
}

.p2{
  width: 100%;
}
